albn-om-biomass-1.png
albn-om-harvest-1.png
albn-om-k2pp-1.png
albn-sa-counterfactual-1.png
albn-sa-counterfactual-catch-1.png
albn-sa-det-1.png
albn-sa-stochastic-1.png
Textforreport.docx
abn-imp-aspic-1.png
abn-imp-aspicOps-1.png
abn-imp-cpue-1.png
abn-imp-cpueCor-1.png
abn-imp-diags-1.png
abn-imp-tsB-1.png
abn-imp-tsF-1.png
abn-imp-xval1-1.png
abn-imp-xval2-1.png
abn-imp-xval3-1.png
albn-om-mp-1.png
albn-om-rec-1.png
unnamed-chunk-3-1.png
unnamed-chunk-4-1.png
unnamed-chunk-9-1.png
unnamed-chunk-9-10.png
unnamed-chunk-9-2.png
unnamed-chunk-9-3.png
unnamed-chunk-9-4.png
unnamed-chunk-9-5.png
unnamed-chunk-9-6.png
unnamed-chunk-9-7.png
unnamed-chunk-9-8.png
unnamed-chunk-9-9.png
